body{
	font-family: 'ABeeZee', sans-serif;
	background: #ccc;
	height:100%;
	width:100%;
}

h1{
	text-align:center;
	font-size:50px;
	color : #999999;
	-webkit-margin-after:0em;
	margin-top:10px;
}

#container{
	width:100%;
}

#viewport{
	background: #ccc;
	margin : 0px auto;
}

#form{
	width:452px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

#userid{
	background:#DDD;
	border : 1px solid #999fad;
	height:35px;
	text-align:center;
	font-size:18px;
}

#user_feedback{
	color : red;
	width : 360px;
	display:block;
	margin:0px auto;
}
